@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --color-bg: #121212;
  --color-primary: #f0e74d;
  --color-secondary: #864cf6;
  --color-text-primary: #ffffff;
  --color-text-secondary: #5c5c5c;
  --color-text-nums: #2a2a2a;
  --color-lines: #3b3b3b;
  --color-circle-bg: #1e1e1e;
}

@theme {
  --font-saira-condensed: "Saira Condensed", sans-serif;
}
